<input id="tab1" type="radio" name="tab_btn" checked>
<input id="tab2" type="radio" name="tab_btn">
<input id="tab3" type="radio" name="tab_btn">
<input id="tab4" type="radio" name="tab_btn">
<input id="tab5" type="radio" name="tab_btn">
<input id="tab6" type="radio" name="tab_btn">
<input id="tab7" type="radio" name="tab_btn">

<div class="tab_area">
  <label class="tab1_label" for="tab1">フェーズ1</label>
  <label class="tab2_label" for="tab2">フェーズ2</label>
  <label class="tab3_label" for="tab3">フェーズ3</label>
  <label class="tab4_label" for="tab4">フェーズ4</label>
  <label class="tab5_label" for="tab5">フェーズ5</label>
  <label class="tab6_label" for="tab6">PPAP</label>
  <label class="tab7_label" for="tab7">8.3製品の設計・開発</label>
</div>
