ACE_STACK_ROOT=D:/Clawdbot_Docker_20260125/ace_step_stack
COMFYUI_PORT=8188
PORTAL_STUB_PORT=8099
ACE_OUTPUT_DIR=./outputs
ACE_MODELS_DIR=./models/ace-step
ACE_REPO_URL=https://github.com/ace-step/ACE-Step-1.5.git
ACE_COMFY_REPO_URL=https://github.com/ace-step/ACE-Step-ComfyUI.git
COMFYUI_REPO_URL=https://github.com/comfy-org/ComfyUI.git
BIND_HOST=127.0.0.1
