PARA_BASE=C:\clawstack\para_openclaw
QDRANT_URL=http://127.0.0.1:6333
OPENCLAW_GATEWAY=http://127.0.0.1:18789
PAPERLESS_URL=http://127.0.0.1:8000
NODE_RED_URL=http://127.0.0.1:1880
DRY_RUN_DEFAULT=true
